@media  only screen and (min-width:200px) and (max-width:575px){
    .btn-outer{
        position: fixed;
        bottom: 0px;
        width: 100%;
        left: 0px;
        justify-content: center !important;
        background-color: white;
        padding: 5px 0px;
    }
    .whatsappbtn, .call{
        padding: 7px 15px;
        font-size: 14px;
    }
    .bannercontent h1{
        font-size: 28px;
        font-weight: 700;
        line-height: 35px;
        text-align: center;
    }
    .bannercontent br{
        display: none;
    }
    .bannercontent p, .bannercontent ul li{
        font-size: 16px;
    }
    .bannercontentbtn{
        flex-direction: column;
    }
    .bannercontentbtn button{
        width: 100%;
    }
    .bannerform{
        padding: 20px;
    }
    .highlights-section h2{
    font-size: 22px;
}
}

@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}
img{

    background-color: black;
}