*{
      font-family: "Roboto", sans-serif;

}

.whatsappbtn{
    border: 1px solid #27AE60;
    padding: 10px 18px;
    color: #27AE60;
    font-size: 16px;

}
.whatsappbtn:hover{
    border: 1px solid #27AE60;

}
.whatsappbtn i{
    color: #27AE60;
}
.call{
    background: linear-gradient(to right, #0ACEFE, #2699FB);
    color: white;
    padding: 10px 18px;
}
.bannercontent h1{
    font-size: 52px;
    font-weight: bold;
}
.bannercontent h1 span{
    color: #2699FB; 
}
.highlight {
  background: linear-gradient(180deg, transparent 60%, #aebfd1 60%);
  /* transparent top 60%, blue bottom 40% */
  padding: 0 4px;
}
.bannercontent p{
    font-size: 22px;

}
.bannercontent ul{
    list-style: none;
}
.bannercontent ul li{
        font-size: 22px;

}
.bannercontent ul li i{
        color: #2699FB; 
}
.bannercontentbtn button{
    width: 50%;
    padding: 10px 0px;
}
.bannercontentbtn button:first-child{
    background: linear-gradient(to right, #0ACEFE, #2699FB);
    color: white;

}
.bannerform{
    padding: 40px;
    border-radius: 10px;
}
.bannerform h3{
    font-size: 18px;
    font-weight: bold;
}
.bannerform button{
    background: linear-gradient(to right, #0ACEFE, #2699FB);
    width: 100%;
    padding: 10px 0px;
    border: none;
    color: white;
}
.countersection h2{
    font-size: 30px;
    font-weight: 700;
    color: #03c9fb;

}
.highlights-section{
    background-color: #F7FAFF;

}
.highlights-section h2{
    font-size: 36px;
    font-weight: 700;
    color: #0c1112;
}
.highlights-section p{
    font-size: 18px;
}
.special-card{
    background-color: #e9f3f8;
    height: 100px;
}
#navbarNav ul li a{
    font-weight: 700;
    margin-right: 15px;
}
.trial{
    background-color: #f7efef;
}